{% extends "base.html" %}
{% block title %}Discussion Thread{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto mb-4 bg-white p-6 rounded-lg border hover:shadow-lg transition-shadow duration-300 border-t-4 border-r-2 border-blue-300">
    <div class="max-w-4xl mx-auto mt-8">
      <article class="p-4 bg-white rounded-lg border mb-6">
        <p class="text-sm text-gray-500">Continuing discussion on comment by 
          <strong>{{ root.author.username }}</strong> at {{ root.timestamp.strftime('%Y-%m-%d %H:%M') }}
        </p>
        <div class="mt-2 text-gray-700">
          {{ root.content | md }}
        </div>
      </article>

      <ul class="comments space-y-6">
        {% for reply in root.ordered_replies %}
          {% set comment = reply %}
          {% set depth = 0 %}
          {% include 'includes/comment.html' %}
        {% endfor %}
      </ul>

      <div class="max-w-4x1 mx-auto mt-8 text-center">
        <p class="mb-4 mx-auto">
          <a href="{{ url_for('blog.view_post', slug=root.post.slug) }}"
            class="text-blue-600 hover:underline mx-auto">
            &larr; Back to post
          </a>
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
{% endblock %}

