{% extends "base.html" %}

{% block title %}Preview: {{ post.title }} | Dismantl{% endblock %}

{% block content %}
<div class="mx-auto max-w-7xl px-0 sm:px-4 grid grid-cols-1 lg:grid-cols-12 lg:gap-8 mt-8">
  <div class="order-1 lg:order-1 lg:col-span-8 lg:col-start-1">
    <article class="lg:max-w-none mx-auto p-6 bg-white shadow-lg rounded-lg border-t-4 border-l-2 border-blue-300">
      <h1 class="text-4xl font-extrabold text-gray-900">
        {{ post.title }}
      </h1>
      <p class="post-meta text-gray-600 text-sm mb-6">
        By <strong class="font-medium text-blue-700 hover:text-blue-900">
          <a href="#">{{ post.author.username }}</a>
        </strong>
        on <span class="text-gray-700">{{ post.display_date | safe }}</span>
      </p>
      <div class="post-content mb-6">
        {{ post.content | md }}
      </div>
      {% if post.tags.count() %}
        <div class="flex flex-wrap items-center gap-x-4 gap-y-4 mt-6 ml-4 text-sm text-gray-400">
          <em class="mr-4">Tags: </em>
          {% for tag in post.tags %}
            <span class="tag inline-flex items-center px-2.5 py-0.5 text-xs font-medium rounded" style="--bg: {{ tag.color_hex }}1A; --fg: {{ tag.color_hex }};">
              {{ tag.name }}
            </span>
          {% endfor %}
        </div>
      {% endif %}
    </article>
  </div>
</div>
<div class="max-w-4x1 mx-auto mt-8">
    <p class="mb-4 ml-5">
        <a href="{{ url_for('blog.list_drafts') }}"
        class="text-blue-600 hover:underline mx-auto">
        &larr; Back to drafts
        </a>
    </p>
</div>
<br><br><br>
{% endblock %}
